body {
  font-family: Georgia, Times New Roman, serif;
  font-weight: 500;
  width: 700px;
  margin: auto;
  background-color: white;
  color: darkslategrey;
}
h1 {
  margin-bottom: 2px;
  float: left;
  padding-top: 4px;
}
h2 {
  font-size: medium;
  font-style: italic;
  padding-top: 40px;
  text-align: right;
}
h3 {
  font-size: x-large;
  padding-top: 20px;
}
p {
  font-size: larger;
}
li {
  padding-bottom: 8px;
  font-size: larger;
}
em {
  font-style: italic;
}
.text {
  font-size: larger;
}
