body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  width: 700px;
  margin: auto;
  background-image: linear-gradient(rgba(113,107,255,.25),rgba(113,107,255,.25)),url("https://s3-us-west-1.amazonaws.com/sfmoma-media-dev/www-media/2018/08/03041415/Vo_Olowska_Beck-1024x441.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  margin-bottom: 2px;
  float: left;
  padding-top: 4px;
}
h2 {
  font-size: medium;
  font-style: italic;
  padding-top: 40px;
  text-align: right;
}
h3 {
  font-size: x-large;
  padding-top: 20px;
}
p {
  font-size: larger;
}
li {
  padding-bottom: 8px;
  font-size: larger;
}
em {
  font-style: italic;
}
.text {
  font-size: larger;
}
